.h1 {
    font-family: 'Roboto', sans-serif; /* Match the font used in Timeline */
    text-align: center;
}

.h2 {
    font-family: 'Roboto', sans-serif; /* Match the font used in Timeline */
    text-align: center;
}

.h3 {
    font-family: 'Roboto', sans-serif; /* Match the font used in Timeline */
    text-align: center;
}

.downloadButton {
    padding: 10px 20px;
    background-color: #ff9f55;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif; /* Match the font used in Timeline */
}